@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.FlightDataTable {
  font-family: Frutiger;
  font-weight: bold;
} 

.FlightDataTable:nth-child(even) {
  background-color: #228EFF ;
}

.News {
  font-family: helvetica;
  font-weight: bold;
}

.Topbar {
  background-color: #003874 ;
}

.Timetable {
  font-size: 0.75rem;
}

.Weather {
  background-image: linear-gradient(#F59E0B, #F8BD59);
}

/* This will hide the scrollbar in the timetables */
.Timetable::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
} 

.Righthalf {
 background-image: linear-gradient(#fafaf9, #bae6fd);
}

.Lefthalf {
background-image: linear-gradient(#004A97 , #005BBB  );
} 
